<form method="POST" action="/events">
  <label>Name:</label>
  <input type="text" id="name" name="name">
  <br/> <br/>
  <label>Event Date:</label>
  <input type="text" id="event_date" name="event_date">
  <br/> <br/>
  <label>Location:</label>
  <input type="text" id="location" name="location">
  <br/> <br/>
  <label>Time:</label>
  <input type="time" id="time" name="time">
  <br/> <br/>
  <label>Category:</label>
  <input type="text" id="category" name="category">
  <br/> <br/>
  <input id="create" type="submit" value="Create">
  <br/>
</form>

