<div class="container">
  <header><img src="images/bike.jpeg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Mountain Bike Club</h2>

    <div class="content">
      <p>Welcome to the Mountain Bike Club App! If you're an avid bike rider then you've come to the right place!
      To get started, create an account or log in to your existing account.</a>.</p>
    </div>

    <div class="sidebar">
    <h3>Login</h3>
        <form method="POST" action='/login'>
          <label for="email">Email:</label>
          <input type=text name="email">
          <br><br>
          <label for="password">Password:</label>
          <input type=password name="password">
          <br><br>
          <input type="submit" name="submit">
        <br><br>
        
        <p><a style="text-decoration: none" href="/signup">Click Here to Sign Up</a></p>
        </form>
    </div>

  </div>
</div>
